{% extends 'shopadmin/index.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block nav %}
<div class="navbar-nav w-100">
    <a href="{% url 'shop_admin:home' %}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
    <a href="{% url 'shop_admin:products' %}" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Products</a>
    <a href="{% url 'shop_admin:categories' %}" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Categories</a>
    <a href="{% url 'shop_admin:orders' %}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Orders</a>
    
</div>

{% endblock %}

{% block home %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4" data-url="" id="caturl">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Category</h6>
                <form method="post" enctype="multipart/form-data" id='catagoryform'>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Category Name</label>
                        <input type="text" name="catagoryname" required id="title" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
    
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Category ID</label>
                        <input name="categoryid" id="catid"  type="text" required class="form-control" id="exampleInputPassword1"> <i id="catidcheck" class="fa text-success fa-check" style="display: none;"> Not Available</i>
                    </div>

                    


                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">slug</label>
                        <input type="text" id="slug"  name="slug" required class="form-control" id="exampleInputPassword1"> <i id="slugcheck" class="fa text-success fa-check" style="display: none;" > Available</i>
                    </div>
                    <div class="mb-3">
                        <label for="floatingTextarea">Description</label>
                        <textarea name="description" required class="form-control" placeholder="Description"
                            id="floatingTextarea" style="height: 150px;"></textarea>

                    </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label"></label>Select Category Image
                        <input class="form-control" required name="catagorypic" type="file" id="formFile">
                    </div>



                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">  Add</button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}

{% block bodyened %}

{% endblock %}