{% extends 'shopadmin/index.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block nav %}
<div class="navbar-nav w-100">
    <a href="{% url 'shop_admin:home' %}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
    <a href="{% url 'shop_admin:products' %}" class="nav-item nav-link active"><i class="fa fa-th me-2"></i>Products</a>
    <a href="{% url 'shop_admin:categories' %}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Categories</a>
    <a href="{% url 'shop_admin:orders' %}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Orders</a>
    
</div>

{% endblock %}

{% block home %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Update Product</h6>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Product Name</label>
                        <input type="text" value="{{product.Product_name}}" class="form-control" name="productname" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Product ID</label>
                        <input type="text" name="productID" value="{{product.Product_ID}}" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Min Quanity</label>
                        <input type="number" name="minquantity" value="{{product.Min_value}}" class="form-control" id="exampleInputPassword1">
                    </div>
                    <label for="exampleInputPassword1" class="form-label">Catagory</label>
                    <select class="form-select mb-3" name="productcat" aria-label="Default select example">
                        {% for catagor in catagory %}
                        {% if catagor.id == product.Product_category %}
                        <option value="{{product.Product_category}}" selected>{{catagor.category_name}}</option>
                        {% endif %}
                        {% endfor %}
                        {% for cat in catagory %}
                        {% if cat.category_name != product.Product_category %}
                        <option value="{{cat.id}}">{{cat.category_name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">slug</label>
                        <input type="text" class="form-control" value="{{product.slug}}" name="slug" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Price</label>
                        <input type="number" class="form-control" value="{{product.Price}}" step=".01" name="price" id="price" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="floatingTextarea">Description</label>
                        <textarea class="form-control" name="description" placeholder="Description" id="floatingTextarea"
                            style="height: 150px;">{{product.Description}}</textarea>
                      
                    </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label"></label>Select Product Image
                        <input class="form-control" name="productpic" type="file" id="formFile">
                    </div>

                   
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}

{% block bodyened %}

{% endblock %}


