{% extends 'shopadmin/index.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block nav %}
<div class="navbar-nav w-100">
    <a href="{% url 'shop_admin:home' %}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
    <a href="{% url 'shop_admin:products' %}" class="nav-item nav-link active"><i class="fa fa-th me-2"></i>Products</a>
    <a href="{% url 'shop_admin:categories' %}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Categories</a>
    <a href="{% url 'shop_admin:orders' %}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Orders</a>
    
</div>

{% endblock %}

{% block home %}

  <!-- Recent Sales Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Products</h6>
            <a class="btn btn-sm btn-success" href="{% url 'shop_admin:addproduct' %}">Add Product</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Product ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Min Value</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in productpage %}
                    <tr>
                        <td>{{product.Product_ID}}</td>
                        <td><a href="{% url 'shop_admin:productdetails' product.Product_ID %}">{{ product.Product_name }}</a></td>
                        <td>{{ product.Price }}</td>
                        <td>{{ product.Min_value }}{{product.Unit_type}}</td>
                        <td><img src="{{ product.product_image.url }}" width="100px" height="100px" alt="" srcset=""></td>
                        
                        <td><a class="btn btn-sm btn-primary" href="{% url 'shop_admin:editproduct'  product.Product_ID  %}">Edit</a>
                            <a class="btn btn-sm btn-primary" href="{% url 'shop_admin:deleteproduct'  product.id  %}">Delete</a>
                            {% if product.onstock %}
                            <a class="btn btn-sm btn-success" href="{% url 'shop_admin:stockupdate'  product.id  %}">In Stock</a>
                            {% else %}
                            <a class="btn btn-sm btn-danger" href="{% url 'shop_admin:stockupdate'  product.id  %}">Out Of stock</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                   
                </tbody>
            </table>
        </div>
    </div>
    <style>
      
    </style>
     <div class="pagination">
        {% if productpage.has_previous %}
            <a class="previous-page" href="?page={{ productpage.previous_page_number }}">previous</a>
        {% endif %}
    
        <span class="current-page">{{ productpage.number }}</span>
    
        {% if productpage.has_next %}
            <a class="next-page" href="?page={{ productpage.next_page_number }}">next</a>
        {% endif %}
</div>

{% endblock %}

{% block bodyened %}

{% endblock %}